<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cursormeeting.cursor_meeting_demo.mapper.JwtTokenMapper">
    <select id="selectByUserId" resultType="com.cursormeeting.cursor_meeting_demo.domain.JwtToken">
        SELECT * FROM jwt_token WHERE user_id = #{userId}
    </select>
    <insert id="insert" parameterType="com.cursormeeting.cursor_meeting_demo.domain.JwtToken">
        INSERT INTO jwt_token (user_id, access_token, refresh_token, scope, token_type, expires_at, created_at, updated_at)
        VALUES (#{userId}, #{accessToken}, #{refreshToken}, #{scope}, #{tokenType}, #{expiresAt}, NOW(), NOW())
    </insert>
    <update id="update" parameterType="com.cursormeeting.cursor_meeting_demo.domain.JwtToken">
        UPDATE jwt_token
        SET access_token = #{accessToken}, refresh_token = #{refreshToken}, scope = #{scope}, token_type = #{tokenType}, expires_at = #{expiresAt}, updated_at = NOW()
        WHERE user_id = #{userId}
    </update>
</mapper> 